# ===== OSRM =====
OSRM_PORT=5000
OSRM_MAX_TABLE_SIZE=2000
OSRM_MAX_TRIP_SIZE=2000
OSRM_URL=http://osrm:${OSRM_PORT}
# ================

# ===== API =====
API_PORT=8000
# ===============

# ===== FRONTEND =====
FRONTEND_PORT=80
# ====================